:root{
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --White: #fff;
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *::before *::after{
  box-sizing: inherit;
}

body{
  display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  min-height: 100vh;
  background: url(images/pattern-background-mobile.svg) var(--Pale-blue);
  background-repeat: no-repeat;
  background-size: contain;
}
  
#card{
  max-width: 375px;
  background-color: var(--White);
  border-radius: 20px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.top-card img{
  width: 100%;
  display: block;
}

.bottom-card{
  padding: 10%;
  color: var(--Dark-blue);
  text-align: center;
}

.title{
  margin-bottom: 15px;
}

.subtitle{
  font-weight: 500;
  margin-bottom: 15px;
  opacity: 0.5;
}

.grid{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background-color: var(--Very-pale-blue);
  padding: 10px;
  align-items: center;
  border-radius: 20px;
  justify-content: space-between;
  margin-bottom: 15px;
}

.grid .plan{
  grid-column:2/6;
}

.grid a{
  grid-column: 7/9;
  color: var(--Bright-blue);
}

.grid a:hover{
  color: var(--Desaturated-blue);
}

.price{
  font-family: 700;
  opacity: 0.6;
}

a.proceed-btn{
  display: block;
  background-color: var(--Bright-blue);
  color: var(--White);
  padding: 10px 0;
  margin-top: 15px;
  margin-bottom: 30px;
  border-radius: 10px;
}

a.proceed-btn:hover{
  background-color: var(--Desaturated-blue);
}

a.cancel-btn{
  color: var(--Dark-blue);
  opacity: 0.5;
}

a.cancel-btn:hover{
  opacity: 1;
}

a.proceed-btn, a.cancel-btn{
  text-decoration: none;
}

@media screen and (min-width: 376px) {
  body{
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  #card{
    margin: 0 auto;
  }
}
